[Unit]
Description=nexus service
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart=/home/nexus/nexus-current/bin/nexus start
ExecStop=/home/nexus/nexus-current/bin/nexus stop
User=nexus
Restart=on-abort

[Install]
WantedBy=multi-user.target