jenkins:
  systemMessage: |
    Serveur Jenkins de SOFTEAM Ouest.
  agentProtocols:
    - "JNLP4-connect"
    - "Ping"
  crumbIssuer:
    standard:
      excludeClientIPFromCrumb: false
  disableRememberMe: false
  markupFormatter: "plainText"
  mode: NORMAL
  myViewsTabBar: "standard"
  nodes:
    - permanent:
        labelString: "slave-amf"
        launcher:
          sSHLauncher:
            credentialsId: "jenkins-ssh"
            host: "51.77.24.101"
            launchTimeoutSeconds: 210
            maxNumRetries: 10
            port: 2212
            retryWaitTime: 15
            sshHostKeyVerificationStrategy: "knownHostsFileKeyVerificationStrategy"
        name: "slave-51.77.24.101"
        numExecutors: 3
        remoteFS: "/home/jenkins"
        retentionStrategy:
          demand:
            idleDelay: 10
            inDemandDelay: 0
  numExecutors: 2
  projectNamingStrategy: "standard"
  quietPeriod: 5
  remotingSecurity:
    enabled: false
  scmCheckoutRetryCount: 0
  slaveAgentPort: -1
credentials:
  system:
    domainCredentials:
      - credentials:
          - string:
              description: "Sonar Token"
              id: "sonar-token"
              scope: GLOBAL
              secret: "{{sonar_token}}"
          - usernamePassword:
              description: "AMF Deploy User (Nexus)"
              id: "amf-nexus-user"
              password: "{{amf_nexus_user_password}}"
              scope: GLOBAL
              username: "amf"
          - usernamePassword:
              description: "Jenkins2 User (Gitlab)"
              id: "jenkins2-gitlab-user"
              password: "{{jenkins2_gitlab_user_password}}"
              scope: GLOBAL
              username: "jenkins2"
          - usernamePassword:
              description: "Jenkins User (Slave VM)"
              id: "jenkins-ssh"
              password: "{{jenkins_ssh_password}}"
              scope: GLOBAL
              username: "jenkins"

unclassified:
  extendedEmailPublisher:
    adminRequiredForTemplateTesting: false
    allowUnregisteredEnabled: false
    charset: "UTF-8"
    debugMode: false
    defaultBody: "$PROJECT_NAME - Build # $BUILD_NUMBER - $BUILD_STATUS:\r\n\r\nCheck\
      \ console output at $BUILD_URL to view the results."
    defaultContentType: "text/plain"
    defaultRecipients: "{{ jenkins_admin_email }}"
    defaultReplyTo: "{{ jenkins_admin_email }}"
    defaultSubject: "$PROJECT_NAME - Build # $BUILD_NUMBER - $BUILD_STATUS!"
    maxAttachmentSize: -1
    maxAttachmentSizeMb: 0
    precedenceBulk: false
    useSsl: false
    watchingEnabled: false
  globalConfigFiles:
    configs:
    - custom:
        content: "{\n  \"http-basic\": {\n    \"usine-nexus.softeam.fr\": {\n    \
          \  \"username\": \"amf\",\n      \"password\": \"{{amf_nexus_user_password}}\"\n    }\n  }\n\
          }"
        id: "amf-auth.json"
        name: "amf-auth.json"
        providerId: "org.jenkinsci.plugins.configfiles.custom.CustomConfig"
  location:
    adminAddress: "{{ jenkins_admin_email }}"
    url: "https://jenkins-master.usine.fr/"
  mailer:
    adminAddress: "{{ jenkins_admin_email }}"
    charset: "UTF-8"
    useSsl: false